@import "../../../../front/assets/stylus/_variables.styl"

.article
  height 100%
  position relative

  .title
    font-size 1.37rem
    font-weight bold
    color $black
    margin-bottom 1rem
    text-align center

    a
      color $black

      &:hover
        text-decoration none