.promo_inner
  .promo_time
    display flex
    align-items center
    justify-content space-between
    margin-top 1rem
    flex-wrap wrap
    flex-basis 70%

    .title
      font-size .85rem
      color $blackGray
      flex-basis 30%

.date
  font-size 1rem
  color $blackGray

