.title_show
  font-size 14px
  text-transform uppercase
  margin-right .5rem
  margin-bottom 0

.change_show
  .dropdown-toggle
    border 1px solid $gray
    font-size 14px
    width 200px
    display flex
    justify-content space-between
    align-items center
    box-shadow 0 2px 4px 0 $grayWhite

  .dropdown-menu
    margin-top 0
    padding 0

  .dropdown-item
    border 1px solid $gray
    font-size 14px
    width 200px
    display flex
    justify-content space-between
    align-items center
    box-shadow 0 2px 4px 0 $grayWhite

.promo_info
  padding 1rem
  display flex
  flex-direction column
  justify-content space-between
  border 1px solid $grayWhite
  border-top none

  > .title
    font-size 1.9rem
    color $black
    font-weight bold
    margin-bottom 1rem
    height 80px
    display flex
    align-items center
    justify-content center

  &:hover
    box-shadow 0 9px 10px 2px $grayWhite

  .desc
    font-size 1rem
    color $blackGray

  .promo_time
    display flex
    align-items center
    justify-content space-between
    margin-top 1rem
    flex-wrap wrap
    +above(576px)
      flex-basis 70%

    +above(1200px)
      flex-basis 60%

    .title
      font-size .85rem
      color $blackGray
      +above(480px)
        flex-basis 30%

  .desc
    font-size 16px
    color $gray
    text-align center
    height 75px

  .go
    font-size 1.1rem
    font-weight bold
    display flex
    align-items flex-end
    justify-content flex-end
    +above(576px)
      flex-basis 30%

    a
      text-decoration none
      color $black
      margin-top 1rem

.time_ends
  display flex
  justify-content center

  .item
    color $brick
    padding 5px
    text-align center
    width 55px
    height 55px
    border 1px solid $brick

    &:not(:last-child)
      margin-right .5rem

  .time
    font-size 1.6rem
    line-height 1

  .label
    color $blackGray
    font-size .75rem
    text-transform lowercase

.finished
.indefinitely
  border 1px solid $brick
  padding .35rem .75rem
  font-size 1.6rem
  color $brick

@import "promotion-inner.styl"