@charset "UTF-8"

@import "_variables.styl"
@import "navBar.styl"
@import "aside_menu.styl"
svg
  width 20px
  height 20px

.container-fluid
  background-color #fff
  box-shadow 0 4px 70px -18px #707070
  width calc(100% - 2rem) !important
  margin 1rem !important
  padding 1rem
  left 0
  transition all .3s

  &.minWidth
    width "calc(100% - 2rem - %s)" % $aside-width !important
    left $aside-width

.title_form
  border-bottom 2px solid $darkest-blue
  padding-bottom .7rem
  font-weight bold
  text-transform uppercase

.submit_absolute
  position absolute !important
  top .5rem
  right 1rem
  z-index 1

  &.cancel
    right 4rem

.custom-control-label
  &::before
    border-width 1px !important

.card-body
  .form-control
    box-shadow none

  .input-group-append
    .btn-secondary
      padding 0.5rem 3rem

.modal-body
  .size
    position relative

    .remove
      opacity 0
      position absolute
      top 0
      right 1rem
      cursor pointer

    &:hover
      .remove
        opacity 1