aside
  width $aside-min-width
  height calc(100% - 56px)
  overflow auto
  overflow-x hidden
  position fixed
  left 0
  top 56px
  background-color $dark
  transition all .3s

  &::-webkit-scrollbar
    width 8px

  &::-webkit-scrollbar-thumb
    background darken($green, 20%)

    &:hover
      background darken($green, 30%)

  &.affix
    width $aside-width

    &.hideScroll
      overflow initial

  .list-group
    svg
      width 20px
      height 20px

    .list-group-item
      background-color $dark
      border-left none
      border-right none

      a
        color $green
        display block

        &:hover
        &:focus
        &.router-link-active
          color $light-green
          text-decoration none

        .sidebar-title
          margin-left .5rem

      .router-link-active
        + .list-group
          display block

      .list-group
        margin-top 1rem
        display none