header
  height 56px

.navbar-toggler
  outline none !important

.navbar
  z-index 1030

.navbar-branding
  position relative
  overflow hidden
  float left
  width 40px
  background-color transparent

  &.open
    width $aside-width

    .navbar-brand
      display inline-block

  .navbar-brand
    display none
    color #666
    padding 0 0 0 18px
    font-size 17px
    font-weight 400
    letter-spacing .5px

    b
      font-weight 700

.toggle_aside
  color #666
  float right
  cursor pointer
  font-size 16px
  max-height 20px
  width 20px
  text-align center
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.navbar-nav
  .dropdown-menu
    background-color $dark
    border-radius 0

    &:focus
      outline none

    .dropdown-item
      color $green

      &:hover
        color $light-green
        background-color lightness($dark, 30%)

  .nav-link
    color $green !important

    svg
      width 20px
      height 20px

    &:focus
      outline none
