.idea
/node_modules
/public/hot
/public/storage
/public/sitemap.xml
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
_ide_*
.phpstorm.meta.php
modules_statuses.json
.nuxt