$enable-print-styles: false;

// Body
$body-bg: #f7f9fb;
$gray-800: #343a40 !default;
$gray-900: $gray-800 !default;
$vue-green: #4ae387;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

$custom-file-text: (
        en: "Browse",
        es: "Elegir",
        ru: "Выберите"
);

$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         1.25rem !default;

$vs-border-radius: .125rem !default;
$vs-component-line-height: 1.5 !default;
$vs-state-active-bg: $vue-green !default