$enable-print-styles: false;

// Body
$body-bg: #f7f9fb;
$vue-green: #4ae387;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

$form-floating-height:            add(3.5rem, 1px) !default;
$form-floating-padding-x:         .75rem !default;
$form-floating-padding-y:         1rem !default;
$form-floating-input-padding-t:   1.625rem !default;
$form-floating-input-padding-b:   .625rem !default;
$form-floating-label-opacity:     .65 !default;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem) !default;
$form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out !default;

$custom-file-text: (
        en: "Browse",
        es: "Elegir",
        ru: "Выберите"
);

$vs-border-radius: .125rem !default;
$vs-component-line-height: 1.5 !default;
$vs-state-active-bg: $vue-green !default