@import 'variables';
@import '~bootstrap-five/scss/bootstrap';
//@import '~sweetalert2/src/sweetalert2';

//@import 'elements/card';
//@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import "~vue-select/src/scss/vue-select.scss";

.vs__search,
.vs__search:focus {
    padding: 0.06rem 0.75rem;
}

.vs__actions {
    svg {
        width: 14px;
        height: 10px;
    }
}

.vs__deselect {
    svg {
        width: 10px;
        height: 10px;
    }
}

.vs__selected {
    background-color: $success !important;
    border-color: $success !important;
    color: $white !important;
}

@import "custom-check-input";