.search_page
  .search_item
    color darken($grey, 30%)

    a
      color $green
      text-decoration none

.search_form
  position relative

  .form-control
    border-right 0

    &:focus
      border-color $green

    + i
      position absolute
      right 5.5rem
      top 0.75rem
      z-index 5
      color $green

.live_search
  position absolute
  z-index 19
  width 100%
  right 0