@import "../../_keyframes.styl"
@import "../../_blanks.styl"
@import "header.styl"

.title_page
  font-size 32px
  font-weight bold
  color $black
  text-align center
  margin-bottom 3rem

.btn-custom
  border 1px solid $green

  &.active,
  &:hover,
  &:focus
    background-color $green