$vue-green = #4ae387;
$light-green = #c8f9c5;
$light-blue = #dcf1ff;
$light-yellow = #fff1c8;
$light-pink = #ffcece;
$vue-darkest-blue = #34495e;
$vue-turquoise = #dbf9e7;
$white = #fff;
$theme-red = #e34a4a;
$theme-orange = #f7cc36;
$theme-blue = #4ab2e3;
$theme-violet = #db76df;
$theme-pale = #d9d9d9;
$brand-primary = $vue-green;
$brand-danger = $theme-red;
$brand-warning = $theme-orange;
$brand-info = $theme-blue;
$brand-success = $vue-green;
$dark-gray = #282828;
$gray = #adb3b9;
$violet = #db76df;
$dark = #343a40;
$aside-width = 250px;
$aside-min-width = 0;
