shadow(left = 0, top = 0, shad = 10px, bot = 0, r = 114, g = 114, b = 114, opacity = 0.25)
  -webkit-box-shadow left top shad bot rgba(r, g, b, opacity)
  -moz-box-shadow left top shad bot rgba(r, g, b, opacity)
  box-shadow left top shad bot rgba(r, g, b, opacity)

shadowInset(left = 0, top = 0, shad = 10px, bot = 0, r = 114, g = 114, b = 114, opacity = 0.25)
  -webkit-box-shadow inset left top shad bot rgba(r, g, b, opacity)
  -moz-box-shadow inset left top shad bot rgba(r, g, b, opacity)
  box-shadow inset left top shad bot rgba(r, g, b, opacity)

columns(w = 100px, count = 2, space = 2rem, bW = 1px, bT = solid, bC = red)
  -webkit-columns w count
  -moz-columns w count
  columns w count
  -webkit-column-gap space
  -moz-column-gap space
  column-gap space

if bW {
  -webkit-column-rule bW bT bC
  -moz-column-rule bW bT bC
  column-rule bW bT bC
}

transition(duration = 1s, to = all)
  transition to duration ease
  -webkit-transition to duration ease
  -moz-transition to duration ease
  -o-transition to duration ease

figure
picture
  display flex
  align-items center
  justify-content center
  position relative

  img
    width 100%
    height 100%

.eclipse_text
  overflow hidden
  text-overflow ellipsis

.required
  &:after
    content '*'
    color red
    margin-left 5px

.is_required
  &:before
    content '*'
    color red
    margin-right 5px

.socials-page
  display flex
  align-items center
  justify-content center
  width 45px
  height 45px
  font-size 30px
  color #fff
  text-align center

  &:not(:first-child)
    margin-left 1rem

  &:hover,
  &:focus,
  &:active
    text-decoration none
    color #fff

label
  cursor pointer

textarea
  resize none

.btn-custom
  transition(all, .4s)
  cursor pointer
  text-align center
  border 2px solid black
  text-decoration none
  color black
  padding .5rem 2rem
  text-transform uppercase
  font-weight bold
  background-color transparent
  display inline-block

  &.active,
  &:hover,
  &:focus
    color #ffffff
    text-decoration none
    background-color black

.ya-share2__badge
  border-radius 0 !important

.ya-share2__container_size_m .ya-share2__icon
  width 35px !important
  height 35px !important

brackets(w = .5em, bw = 1px, c = $black, p = .3em .5em)
  display inline-block
  position relative
  padding p
  &:before,
  &:after
    content ""
    position absolute
    top 0
    width w
    height 100%
    border-width bw
    border-color c
  &:before
    left 0
    border-style solid none solid solid
  &:after
    right 0
    border-style solid solid solid none

gradient(from_c, to_c)
  background: -moz-linear-gradient(top, alpha(to_c, 0) 0%, alpha(from_c, 0.65) 100%);
  background: -webkit-linear-gradient(top, alpha(to_c, 0) 0%, alpha(from_c, 0.65) 100%);
  background: linear-gradient(to bottom, alpha(to_c, 0) 0%, alpha(from_c, 0.65) 100%);

.fw200
  font-weight 200 !important

.fw300
  font-weight 300 !important

.fw400
  font-weight 400 !important

.fw600
  font-weight 600 !important

.fwb
  font-weight bold !important

.spin
  animation spin 2s infinite linear

.lazy
  animation-duration 1s
  animation-fill-mode both
  animation-name fadeIn

.lazy-img
  &[lazy=loaded]
    @extend .lazy

  &[lazy=loading]
    width 100% !important
    filter blur(10px)
    @extend .lazy

for i in (10..40)
  .fs-{i}
    font-size unit(i, 'px !important')
