@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes spin
  from
    transform rotate(0deg)

  to
    transform rotate(360deg)

@keyframes changeHeight
  from
    height 0

  to
    height 100%

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}